* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

main {
  height: calc(100vh - 80px);
  background-color: gray;
}
