* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

main {
  height: calc(100vh - 80px);
  background-color: gray;
  overflow: auto;
}

.img-language {
  width: 40px;
}

img {
  max-width: 100%;
}

.col-rp {
  position: relative;
  overflow: auto;
  min-height: 500px;
}

.img-movie {
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.card-rp {
  position: absolute;
  top: 0;
  opacity: 0;
}
