* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  height: calc(100vh - 80px);
  background-color: gray;
  overflow: auto;
}

.img-language {
  width: 40px;
}

img {
  max-width: 100%;
}

.col-rp {
  position: relative;
  overflow: auto;
  min-height: 500px;
}

.img-movie {
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
}

.card-rp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding: 40px 30px;
  opacity: 0;
  overflow: auto;
  scrollbar-width: none;
}
span {
  font-weight: 800;
}
.col-rp:hover .card-rp {
  opacity: 1;
}

.col-rp:hover .img-movie {
  opacity: 0.3;
}
